
*{
	margin:0;
	padding:0;
}
html,body{height:100%;overflow:hidden;}
body{
	background:#000;
	color:#00c859;
	font:400 12px/1 Arial,Helvetica,sans-serif;
}
ul{list-style:none;}
/* Fixed page layout */
.content{
	z-index:1;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	overflow:hidden;
}
/* Opera... Ugh */
noindex:-o-prefocus,.content{z-index:3;}
.head,.page,.nav{
	position:fixed;
	left:0;
	right:0;
	overflow:hidden;
}
.head{
	top:0;
	height:33px;
}
.page{
	top:33px;
	bottom:42px;
}
.nav{
	bottom:0;
	height:42px;
}
.cont{
	position:absolute;
	left:5px;
	right:5px;
}
.head .cont{
	top:10px;
	bottom:2px;
}
.page .cont{
	top:3px;
	bottom:3px;
}
.nav .cont{
	top:2px;
	bottom:20px;
}

/* Head/Info */
.head .cont div,h1{
	height:100%;
	border-right:1px solid #00c859;
	border-top:1px solid #00c859;
	box-sizing:border-box; /* border counts in width */
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin-right:1%;
	display:block;
	float:left;
	position:relative;
	font-weight:400;
}
.head .cont h1{
	width:23%;
	margin:0;
	font-size:13px;
	border-left:1px solid #00c859;
	border-right:none;
}

#stats .head div.lvl{width:13%;}
#stats .head div.hp{width:20%;}
#stats .head div.ap{width:17%;}
#stats .head div.xp{width:24%;}

#items .head div.wg{width:17%;}
#items .head div.hp{width:20%;}
#items .head div.dr{width:13%;}
#items .head div.caps{width:24%;}

#data .head div.area{width:52%;}
#data .head div.coor{width:24%;}

.head div.last{margin:0;}
.head .cont h1 span{
	padding:0 10px;
	background:#000;
	line-height:1;
	position:absolute;
	right:10px;
	top:-7px;
	letter-spacing:2px;
}
.head .cont div span{
	position:absolute;
	top:50%;
	margin-top:-0.5em;
	line-height:1;
}
.head .cont div span:first-child{left:3px;}
.head .cont div span:last-child{right:3px;}

/* VaultBoy Status Page */
/* CND, RAD, EFF ?Navigation? */
#stats #status #cnd{
	float:left;
	width:25%;
	height:100%;
}
#stats #status li span{
	display:inline-block;
	padding:5px;
	border:1px solid transparent;
}
#stats #status li.here span{border-color:#00c859;}

/* ?Controls? */
#stats #status #controls{
	float:right;
	width:25%;
	height:100%;
	text-align:right;
}
#stats #status #controls li{
	background:url(img/rightp.svg) 100% 50% no-repeat;
	background-size:auto 75%;
}
/* Vaultboy */
#stats #status #vaultboy{
	height:100%;
	margin:0 25%;
	text-align:center;
	box-sizing:border-box; /* border counts in width */
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:20px 0;
	position:relative;
}
#stats #status #vaultboy .barname{
	text-align:center;
	line-height:2.5;
}
#stats #status #vaultboy .bar{
	position:absolute;
	padding:1px 1px 0;
	border:1px solid #00c859;
	border-bottom:none;
	height:8px;
	width:40px;
}
#stats #status #vaultboy .bar.torso{
	left:50%;
	margin-left:-20px;
	top:41%;
}
#stats #status #vaultboy .bar.face{
	left:50%;
	margin-left:-20px;
	top:0;
}
#stats #status #vaultboy .bar.larm{
	left:9%;
	top:25%;
	border-right:none;
}
#stats #status #vaultboy .bar.rarm{
	right:9%;
	top:25%;
	border-left:none;
}
#stats #status #vaultboy .bar.lleg{
	left:9%;
	top:74%;
	border-right:none;
}
#stats #status #vaultboy .bar.rleg{
	right:9%;
	top:74%;
	border-left:none;
}
#stats #status .bar div{
	height:8px;
	width:100%;
	background:#00c859;
}
#stats #status #vaultboy .bar.rarm span,#stats #status #vaultboy .bar.rleg span{
	display:inline-block;
	position:absolute;
	top:-1px;
	left:-15px;;
	width:15px;
	height:7px;
	background:url(img/decor.png);
}
#stats #status #vaultboy .bar.larm span,#stats #status #vaultboy .bar.lleg span{
	display:inline-block;
	position:absolute;
	top:-1px;
	right:-15px;;
	width:15px;
	height:7px;
	background:url(img/decor.png);
	-webkit-transform:matrix(-1, 0, 0, 1, 0, 0);
	-moz-transform:matrix(-1, 0, 0, 1, 0, 0);
	-ms-transform:matrix(-1, 0, 0, 1, 0, 0);
	-o-transform:matrix(-1, 0, 0, 1, 0, 0);
	transform:matrix(-1, 0, 0, 1, 0, 0);
}
#stats #status #vaultboy img{
	height:100%;
	max-width:100%;
	width:auto;
}

.list .listnav{
	float:left;
	width:36%;
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
}
.list dl{
	display:block;
	overflow:hidden;
	padding:3px 0;
	margin-bottom:5px;
	margin-left:20px;
	border:1px solid transparent;
}
.list dl.here{
	border:1px solid #00c859;
	background:rgba(0,200,89,0.15);
}
.list dt{
	display:block;
	float:left;
	text-align:left;
	padding-left:5px;
}
.list dd{
	display:block;
	float:right;
	text-align:right;
	padding-right:5px;
}
.list .listpages{
	height:100%;
}
.list .listpages > div{
	display:none;
}
.list .listpages .here{
	display:block;
	float:right;
	width:59%;
	height:100%;
	margin-left:5%;
}
.list .photo{
	height:63%;
}
.list .desc{
	height:37%;
	position:relative;
	line-height:1.7;
}
.list .desc span.bord{
	display:block;
	position:absolute;
	width:100%;
	height:23px;
	border-top:1px solid #00c859;
	border-right:1px solid #00c859;
	z-index:-1;
}
.list .desc span.text{
	display:block;
	overflow:auto;
	padding:5px 5px 0 0;
}


.page > div{display:none}
.page .here{display:block;}
.nav .sur{
	border:1px double #00c859;
	border-top:none;
	display:block;
	height:100%;
}
.nav .sur div{
	float:left;
	width:20%;
	text-align:center;
}
.nav .sur span{
	display:inline-block;
	padding:5px 13px;
	height:100%;
	background:#000;
	position:relative;
	top:10px;
}

.nav .here span{border:1px solid #00c859;}

#portrait,#overlay,#crt,#glare,#smudge,#shadow{
	z-index:2;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	pointer-events:none;
}
#portrait{display:none;}
#overlay{
	background:transparent -webkit-gradient(linear,left top,left bottom,from(rgb(0,200,89)),to(rgb(0,200,89)),color-stop(0.5,rgb(0,86,34)));
	background:transparent -webkit-linear-gradient(top,rgb(0,200,89),rgb(0,86,34) 50%,rgb(0,200,89));
	background:transparent -moz-linear-gradient(top,rgb(0,200,89),rgb(0,86,34) 50%,rgb(0,200,89));
	background:transparent -ms-linear-gradient(top,rgb(0,200,89),rgb(0,86,34) 50%,rgb(0,200,89));
	background:transparent -o-linear-gradient(top,rgb(0,200,89),rgb(0,86,34) 50%,rgb(0,200,89));
	background:transparent linear-gradient(to bottom,rgb(0,200,89),rgb(0,86,34) 50%,rgb(0,200,89));
	opacity:.18;
	-webkit-background-size:100% 6px;
	-moz-background-size:100% 6px;
	-ms-background-size:100% 6px;
	-o-background-size:100% 6px;
	background-size:100% 6px;
	background-repeat:repeat;
}
@-webkit-keyframes anim{to{-webkit-transform:translate3d(0,1000%,0)}}
@-moz-keyframes anim{to{-moz-transform:translate3d(0,1000%,0)}}
@keyframes anim{to{transform:translate3d(0,1000%,0)}}
#anim{
	z-index:2;
	pointer-events:none;
	background:transparent -webkit-gradient(linear,left bottom,left top,from(rgba(0,200,89,.2)),to(transparent)) repeat-x;
	background:transparent -webkit-linear-gradient(top,transparent,rgba(0,200,89,.2)) repeat-x;
	background:transparent -moz-linear-gradient(top,transparent,rgba(0,200,89,.2)) repeat-x;
	background:transparent -ms-linear-gradient(top,transparent,rgba(0,200,89,.2)) repeat-x;
	background:transparent -o-linear-gradient(top,transparent,rgba(0,200,89,.2)) repeat-x;
	background:transparent linear-gradient(to bottom,transparent,rgba(0,200,89,.2)) repeat-x;
	width:100%;
	height:60px;
	-webkit-animation:anim 6s linear infinite;
	-moz-animation:anim 6s linear infinite;
	animation:anim 6s linear infinite;
	-webkit-transform:translate3d(0,-1000%,0);
	-moz-transform:translate3d(0,-1000%,0);
	-o-transform:translate(0,-1000%);
	transform:translate(0,-1000%);
}
#crt{background:transparent url(img/crt.png) repeat;}
#glare{
	background:transparent -webkit-gradient(linear,left bottom,left top,from(transparent),to(rgba(255,255,255,0.09))) repeat-x;
	background:transparent -webkit-linear-gradient(bottom,transparent,rgba(255,255,255,0.09)) repeat-x;
	background:transparent -moz-linear-gradient(bottom,transparent,rgba(255,255,255,0.09)) repeat-x;
	background:transparent -ms-linear-gradient(bottom,transparent,rgba(255,255,255,0.09)) repeat-x;
	background:transparent -o-linear-gradient(bottom,transparent,rgba(255,255,255,0.09)) repeat-x;
	background:transparent linear-gradient(to top,transparent,rgba(255,255,255,0.09)) repeat-x;
}
#smudge{
	background:transparent url(img/smudge.png) repeat-x;
	-webkit-background-size:100% auto;
	-moz-background-size:100% auto;
	-ms-background-size:100% auto;
	-o-background-size:100% auto;
	background-size:100% auto;
}
#shadow{box-shadow:inset 0 0 60px #000;}
@media all and (orientation:portrait) {
.wrapper{display:none;}
#portrait{
	display:block;
	z-index:0;
	background:url(img/land.svg) fixed center center no-repeat;
	background-size:70%;
}
}